.app__checkbutton-container{
    background-color: red;
}

.app__checkbutton{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #15151C;
    border: ;
}

.app__checkbutton-active{

}