.app__checkbutton-container{
}

.app__checkbutton{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #15151C;
    border: .2rem solid #2b2b38;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s border ease-in-out, .3s border-radius ease-in-out;
}

.app__checkbutton:active{
    border: .2rem solid #FF9700;
    border-radius: 100%;

}


.app__checkbutton-active{
    background-color: #FF9700;
    width: 100%;
    height: 100%;
    border-radius: 100%;

}

@keyframes fade-active {
    0%{
        opacity: ;
    }
}