@import url('http://fonts.cdnfonts.com/css/trebuchet-ms-2');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #232230;
    overflow-x: hidden;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
}