
/* All header styles */
.landing__header{
    background-color: #7C187A;
    background-image: url("../assets//image/homepage.jpg");
    background-position: 0% 77%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.landing__navbar{
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
    margin: auto;
    padding: 4rem 0;
}

.landing__navbar-brand{
    font-size: 1.4rem;
    text-decoration: none;
}

.landing__navbar-inner-container{
    display: flex;
    gap: .8rem;
}

.landing__nav-item{
    background-color: #ffffff3d;
    border: 2px solid transparent;
    padding: 1rem 2.3rem;
    transform: skewX(-15deg);
    color: #fff;
    transition: .4s ease-in-out border, .4s ease-in-out background-color;
    display: flex;

}

.landing__nav-item:hover{
    background-color: #ffffff3f;
    border: 2px solid #A3A3A3;
    cursor: pointer;
}
.landing__nav-link{
    color: #fff!important;
    transform: skewX(15deg);

}



.landing__slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.landing__slogan-first-text{
    color: white;

}

.landing__slogan-second-text{
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
}

.landing__instruct-btn-container{
    display: flex;
    gap: 1rem;
}

.landing__slogan-browse{
    background-color: #7C187A;
    color: white;
    border: none;
    padding: 1rem 8rem;
    display: flex;
    transform: skewX(-15deg);
}

.landing__slogan-sell{
    background-color: #FF9700;
    color: white;
    border: none;
    padding: 1rem 8rem;

    transform: skewX(-15deg);
    
    outline: 2px solid #FFC166;
    outline-offset: -5px;
    display: flex;
    
}

.landing__slogan-browse-text, .landing__slogan-sell-text{
    transform: skewX(15deg);
}
/* header stops here */

/* Main section starts here */
.landing__main{
    background-color: #232230;
}


.landing__search-section{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
}

.landing__search-group-container{
    position: relative;
    background-color: red;
    transform: skewX(-15deg);
    width: 40vw;
    background-color: #15151C;
    border: .2rem solid #2B2B38;

}

.landing__search-stuff{
    width: 100%;
    border: none;
    padding: 1rem 12rem;
    background-color: transparent;
    transform: skewX(15deg);

    
    color: white;
}

.landing__search-stuff:focus{
    outline: none;
}
.landing__weekly-freebies-container{
    color: white;
    align-self: flex-start;
    justify-self: flex-end;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    max-width: 100rem;
    margin: 0 auto;

    
}

.landing__weekly-freebies-container span{
    background-color: #15151C;
    padding: 1rem 4rem;
    transform: skewX(-15deg);
    font-size: .8rem;
    border-left: 1rem solid #7C187A ;

}

.landing__freebies-container{
    background-color: #1B1A24;
    height: 40vh;
    
    padding: 4rem 0;
    
}

.landing__freebies-inner-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);

    max-width: 100rem;
    margin: 0 auto;
}

.landing__card{
    
    background-color: #38384C;
}

.landing-card-img{
   width: 100%;
   height: 20vh;
   object-fit: cover;

}

.landing__card-body{
    display: flex;
    flex-direction: column;
    padding: .4rem .7rem;
    gap: .3rem;
}

.landing__product-title{
    color: white;
    font-size: .9rem;
}

.landing__product-title-affirm{
    font-size: .7rem;
    color: #6D6D91;
    margin-bottom: 1rem;

}

.landing__rating-container{
    display: flex;
    align-items: center;
}

.landing__card-stats-container{
    display: flex;
    gap: .5rem;
}

.landing__card-stats-views{
    color: #6D6D91;
    font-size: .8rem;

}

.landing__card-stats-comments{
    font-size: .8rem;
    color: #6D6D91;
    display: flex;
    gap: .1rem;
}

.landing__price{
    justify-self: flex-end;
    color: #D2D7DB;
    margin-left: 15%;
}


.landing__cg-tutorials{
    height: 20vh;
    

}

.landing__cg-card-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    max-width: 110rem;
    margin: 3rem auto;
    margin-bottom: 1.5rem;
    gap: 1rem;
    
}

.landing__cg-card{
    position: relative;
    height: 7vh;
    transform: skewX(-17deg);

}

.landing__cg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing__cg-overlay-container{
    background-color: rgba(0, 0, 0, 0.685);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;

}

.landing__filters{
    height: 15vh;
}


.landing__all-products-container{
    background-color: #1B1A24;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 0;
}

.landing__all-products-inner-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 100rem;
    margin: 0 auto;
}

.landing__filter-tags{
    background-color: #15151C;
    color: white;
    padding: 1rem 4rem;
    transform: skewX(-15deg);
    width: 20vw;
    font-size: .8rem;
    border-left: 1rem solid #7C187A ;
}

.landing__filter-tag-container{
    max-width: 100rem;
    margin: 0 auto;
    height: 10vh;
    display: flex;
    align-items: flex-end;
}

.landing__start-selling{
    background-color: #232230;
    padding-top: 4rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.landing__start-selling-container{
    background-image: url("../assets/image/carhang.jpg");
    height: 40vh;
    background-position: 50% 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.landing__latest-collection-container{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
}

.landing__start-selling-text{
    font-size: 2rem;
}

.landing__start-selling-desc{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.landing__double-card{
    display: flex;
    flex-direction: column;
}

.landing__images-container{
    display: flex;
}

.landing__double-img-normal{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.landing__double-img-grey{
    width: 100%;
    filter: grayscale(100%);
    object-fit: cover;
    height: 30vh;

}

.landing__double-text-container{
    display: flex;
    background-color: #232230;
    padding: 1rem 0;
    justify-content: space-around;
}

.landing__double-text-header{
    font-size: 1rem;
}

.landing__double-text-desc{
    color: #6D6D91;
}

.landing__latest-collection-cont{
    color: white;
    background-color: #1B1A24;
}

.landing__double-inner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    height: 43vh;
    margin: 0 auto;
    max-width: 100rem;
    padding: 2rem 4rem;

}

.landing__browse-all-products-container{
    background-color: #1B1A24;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: .5rem;
}

.landing__browse-all-products-btn{
    background-color: #2C2C3D;
    color: white;
    padding: 1rem 2rem;
    font-size: .7rem;
    border: none;
    transform: skewX(-15deg);
}

.landing__browse-all-products-btn-text{
    transform: skewX(15deg);
    display: flex;

}


.landing__earn-more-container{
    height: 10vh;
    background-color: #232230;
   
}

.landing__earn-more-container-inner{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    max-width: 100rem;
    margin: 0 auto;
}


.landing__earn-more-btn{
    padding: 1rem 2rem;
    font-size: .7rem;
    background-color: #15151C;
    transform: skewX(-15deg);
    color: white;
    border-left: 1rem solid #7C187A;
    display: flex;
}

.landing__earn-more-btn-text{
    transform: skewX(15deg);

}

.landing__open-partner-container{

}

.landing__open-partner-inner-container{
    display: flex;
}


.landing__open-img-container{
    height: 90vh;
    width: 100%;
    /* transform: skewX(-15deg); */
    display: flex;

}

.landing__open-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 20%;
    /* transform: skewX(15deg); */

}

.landing__partner-img-container{
    height: 90vh;
    width: 100%;
    /* background:
        linear-gradient(to top left,  transparent 49%, red 50.5%) bottom/100% 25% no-repeat,
        linear-gradient(to top left, #fff 50%, transparent 50.5%) bottom right/40% 40% no-repeat,
        url("../assets/image/man.jpg");
        display: inline-block;
        vertical-align: top; */
    /* transform: skewX(-15deg); */




}
.landing__partner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 20%;
    /* border-top-left-radius: 100%; */
    /* transform: skewX(15deg); */

    clip-path: polygon(100% 100%, 0 100%, 0 100%, 60% 0);

}

/* Search section ends here */

.landing__footer{

}

