.landing__header{

}

.landing__main{

}

.landing__footer{

}

.landing__navbar{
    background-color: red;
    display: flex;
    justify-content: space-between;
    max-width: 110rem;
    margin: auto;
    padding: 4rem 0;
}

.landing__navbar-brand{
    font-size: 1.4rem;
    text-decoration: none;
}

.landing__navbar-inner-container{
    display: flex;
    gap: 2rem;
}