

/* NEW MEDIA QUERIES BREAK POINT */

/* Mobile devices */
/* small mobile phone 320px  -  480px */
@media screen  and (min-width: 0px) and (max-width: 480px){
    .landing__instruct-btn-container{
        flex-direction: column;
    }

    .landing__freebies-inner-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .landing__all-products-inner-container{
        grid-template-columns: repeat(1, 1fr);

    }

    .landing__double-inner-container{
        grid-template-columns: repeat(1, 1fr);

    }

    .landing__search-section{
        height: auto;
        max-width: auto;
    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;

    }

    .landing__freebies-container{
        height: auto;
        max-width: auto;

    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;

    }

    .landing__freebies-container{
        height: auto;
        max-width: auto;

    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;

    }
    .landing__show-filters-container{
        height: auto;
        max-width: auto;

    }

    .landing__filter-tag-container{
        height: auto;
        max-width: auto;

    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;


    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;


    }

    .landing__awesome-arts-sec{
        height: auto;
        max-width: auto;

    }

    .landing__post-container{
        flex-direction: column;
        gap: 2rem;
    }
    .landing__footer{
        height: auto;
    }

    .landing__footer-inner{
        flex-direction: column;
    }
    .landing__cg-card-container{
        overflow-x: scroll;
    width: 100vw;

    }

    html{
        font-size: 60%;
    }
}

/* Ipads and Tablets */
@media screen  and (min-width: 481px) and (max-width: 768px){
    
}

@media screen  and (min-width: 768px) and (max-width: 1024px){

}

/* Desktops and large screens */
@media screen  and (min-width: 1025px) and (max-width: 1200px){
    
}

@media screen  and (min-width: 1501px){
    
}