

/* NEW MEDIA QUERIES BREAK POINT */

/* Mobile devices */
/* small mobile phone 320px  -  480px */
@media screen  and (min-width: 0px) and (max-width: 480px){
    /* .landing__main{
        zoom: 90%; */
        /* transform: scale(.3);
        transform-origin: 0 0; */
    /* } */
    /* .landing__main-app{
        zoom: 9%;

    }

    .landing__header{
        zoom: 90%;
    } */
    /* body{
        transform: scale(.2);
        transform-origin: 0 0;
    } */
    /* .landing__instruct-btn-container{
        flex-direction: column;
    }

    .landing__freebies-inner-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .landing__all-products-inner-container{
        grid-template-columns: repeat(1, 1fr);

    }

    .landing__double-inner-container{
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        padding-left:1rem;
        padding-right: 1rem;

    }
    .buy__buy-preview-container-inner{
        flex-direction: column;
    }

    .cart__inner-container{
        
        flex-direction: column;
    }

    .cart__category-container{
        width: 100%;
        overflow-x: scroll;
    }

    .cart__cart-item-outer{
        width: 100vw!important;
    }

    .cart__cart-items-container{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        padding: 1rem 0rem!important;
    }

    .buy_socials-container{
        width: auto;
        align-items: center;
        justify-content: center;
        margin-left: none!important;
    }

   

    .buy__carousel-container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%!important;
    }

    

    .landing__footer-inner{
        flex-direction: column;
    }
    .landing__cg-card-container{
        overflow-x: scroll;
        width: 100vw;

    }

    .landing__cg-card-container{

    }

    .landing__cg-card-container-slim{
        top: 5vh;
    }

    .landing__cg-card-container-slim{
        overflow-x: scroll;
        width: 100vw;
    }
    .search__input{
        padding: .5rem 5rem;
    }
    
    .landing__search-section{
        
        margin: 2rem auto;
    }
    .landing__filter-tags-btn{
        width: auto;
    }

    
    .landing__double-img-normal{
        width: 50%;
        height: 20vh;
        object-fit: cover;
    }
    
    .landing__double-img-grey{
        width: 50%;
        height: 20vh;
        filter: grayscale(100%);
        object-fit: cover;
    
    }
    .reg__sign-up-modal{
       flex-direction: column;
       width: 100%!important;
       margin: 1rem;
    }

    .reg__loooty-innitials-container{
        width: 100%!important;
    }
    html{
        font-size: 60%;
    } */

    html{
        font-size: 60%;
    }
    .landing__footer{
        height: auto;
       /* transform: scale(.6)!important; */
       zoom: .5;
    }
    .landing__freebies-inner-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .landing__footer-inner{
    }
    .landing__post-container{
        height: auto;
       zoom: .5;

    }

    .landing__double-inner-container{
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        padding-left:1rem;
        padding-right: 1rem;

    }

    .landing__freebies-inner-container{
        grid-template-columns: repeat(2, 1fr);

    }
    .landing__all-products-inner-container{
        grid-template-columns: repeat(2, 1fr);

    }

    .landing-card-img{
        height: 15vh;
     
     }
     .landing__slogan{
        zoom: .8;
     }

     .search__skew-container{
        zoom: .7;
     }

    .landing__cg-tutorials{
       zoom: .6;

    }

    .landing__cg-card-container-slim{
        
        right: 0%!important;
       
    }

    .landing__show-filters-container{
        zoom: .3;
        width: 1;
    }


    .landing__search-section{
        height: 10vh;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__filter-tags-btn-text{
       
        font-size: .7rem;
    }

    .landing__start-selling-text{
        font-size: 1.5rem;
    }
    
    .landing__start-selling-desc{
        font-size: .6rem;
        margin-bottom: 1.5rem;
    }
    .landing__slogan-browse-text, .landing__slogan-sell-text{
       font-size: .9rem;
    }
    .landing__open-partner-container{
        zoom: .3;
    }

    .landing__header{
        height: 30vh;
    }

    .landing__open-partner-label-container{
        width: 70%;
      
        
    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;

    }

    .landing__freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .landing__show-filters-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__filter-tag-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__all-products-container{
        padding: 1rem;
    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__double-img-normal{
        width: 50%;
        height: 25vh;
        object-fit: cover;
    }

    .landing__double-img-grey{
        width: 50%;
        height: 25vh;
        filter: grayscale(100%);
        object-fit: cover;
    
    }

    .landing__daily-picks-filters-container{
        zoom: .72;
    }

    .landing__weekly-freebies-container{
        zoom: .6;
    }

    .landing__awesome-arts-sec{
        height: 5vh;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__post-container{
        flex-direction: column;
        gap: 2rem;
    }
    .landing__footer{
        height: auto;
    }
}

/* Ipads and Tablets */
@media screen  and (min-width: 481px) and (max-width: 768px){
    /* .buy_socials-container{
       
        margin-left: 6rem;
    
    } */
}

@media screen  and (min-width: 768px) and (max-width: 1024px){
    /* .buy_socials-container{
      
        margin-left: 6rem;
    
    } */
}

/* Desktops and large screens */
@media screen  and (min-width: 1025px) and (max-width: 1200px){
    /* .buy_socials-container{
        
        margin-left: 6rem;
    
    } */
}

@media screen  and (min-width: 1501px){
    /* .buy_socials-container{
       
        margin-left: 6rem;
    
    } */
}