

/* NEW MEDIA QUERIES BREAK POINT */

/* Mobile devices */
/* small mobile phone 320px  -  480px */
@media screen  and (min-width: 0px) and (max-width: 480px){
    .landing__instruct-btn-container{
        flex-direction: column;
    }

    .landing__freebies-inner-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .landing__all-products-inner-container{
        grid-template-columns: repeat(1, 1fr);

    }

    .landing__double-inner-container{
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        padding-left:1rem;
        padding-right: 1rem;

    }
    .buy__buy-preview-container-inner{
        flex-direction: column;
    }

    .buy_socials-container{
       background-color: red;
        width: auto;
        align-items: center;
        justify-content: center;
        margin-left: none!important;
    }

   

    .buy__carousel-container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%!important;
    }

    .landing__search-section{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;

    }

    .landing__freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .landing__show-filters-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__filter-tag-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__all-products-container{
        padding: 1rem;
    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__weekly-freebies-container{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__awesome-arts-sec{
        height: auto;
        max-width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .landing__post-container{
        flex-direction: column;
        gap: 2rem;
    }
    .landing__footer{
        height: auto;
    }

    .landing__footer-inner{
        flex-direction: column;
    }
    .landing__cg-card-container{
        overflow-x: scroll;
        width: 100vw;

    }

    .landing__cg-card-container{

    }

    .landing__cg-card-container-slim{
        top: 5vh;
    }

    .landing__cg-card-container-slim{
        overflow-x: scroll;
        width: 100vw;
    }
    .search__input{
        padding: .5rem 5rem;
    }
    
    .landing__search-section{
        
        margin: 2rem auto;
    }
    .landing__filter-tags-btn{
        width: auto;
    }

    
    .landing__double-img-normal{
        width: 50%;
        height: 20vh;
        object-fit: cover;
    }
    
    .landing__double-img-grey{
        width: 50%;
        height: 20vh;
        filter: grayscale(100%);
        object-fit: cover;
    
    }
    html{
        font-size: 60%;
    }
}

/* Ipads and Tablets */
@media screen  and (min-width: 481px) and (max-width: 768px){
    .buy_socials-container{
       
        margin-left: 6rem;
    
    }
}

@media screen  and (min-width: 768px) and (max-width: 1024px){
    .buy_socials-container{
      
        margin-left: 6rem;
    
    }
}

/* Desktops and large screens */
@media screen  and (min-width: 1025px) and (max-width: 1200px){
    .buy_socials-container{
        
        margin-left: 6rem;
    
    }
}

@media screen  and (min-width: 1501px){
    .buy_socials-container{
        display: flex;
        gap: 1rem;
        /* margin-left: 6rem; */
    
    }
}