.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header, .header{
  background-color: #646363;
  flex: 1;
}

.header{
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  color: #949494;
  text-transform: uppercase;
  height: 100%;
  align-items: center;

}

.logo {
  font-weight: ;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header ul li {
 margin-left: 3rem;
 cursor: pointer;
}

.header ul li a {
  text-decoration: none;
  color: #949494;

}

main {
  background-color: #949494;
  flex: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer, .footer{
  flex: 1;
  background-color: #444444;
}

.dropzone {
  border: dashed 3px rgb(180, 172, 172);
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 1.7rem;
  font-weight: bolder;
  background-color: #113;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  height: 40%;
}

.dropzone.active {
  border: dashed 4px rgb(0, 204, 255);
}

/* form styles */

form {
  padding: 4rem;
}

.form-control {
  width: 20vw;
  font-size: 1.4rem;
  height: 2rem;
  padding: .8rem;
  border-radius:.4rem;
  border: none;
  transition: outline .4s ease-in-out;
}

.form-control:focus {
  outline: 5rem dotted #555252;;
}

.form-group {
  position: relative;
}

/* buttons */

.btn {
  height: 4rem;
  width: 30%;
  cursor: pointer;
  border-radius: .4rem;
  border: none;
  cursor: pointer;
  color:#555252;
  font-weight: 1000;
  text-transform: uppercase;

}

.title-header{
  color:#555252;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.placeholder {
  position: absolute;
  color:#5552529a;
  font-weight: 1000;

  top: -9%;
  left: 6%;
  text-transform: uppercase;
}


