

/* Buttons */

.composite__btn-container {
    display: flex;
}
.composite__btn {
    background-color: #FF9700;
    color: white;
    border: none;
    padding: 1rem 8rem;

    transform: skewX(-25deg);
    
    outline: 2px solid #FFC166;
    outline-offset: -5px;
    display: flex;
    cursor: pointer;
}

.composite__btn:active {
    transform: skewX(-25deg) scale(1.05);
}

.composite__btn-text {
    transform: skewX(25deg);
}

/* Search Bar */

.search__skew-container{
    display: flex;

}

.search__group-container{
    position: relative;
    transform: skewX(-25deg);
    width: 40vw;
    background-color: #15151C;
    border: .2rem solid #2B2B38;
}

.search__btn{
    position: absolute;
    background-color: #38383E;
    color: white;
    font-size: 1.3rem;
    padding: .3rem .7rem;
    border: none;
    right: 0.5%;
    top: 12%;
    display: flex;
    cursor: pointer;
}

..landing__search-btn:active{
    transform: scale(1.05);
}