

/* Buttons */

.composite__btn-container {
    display: flex;
}
.composite__btn {
    background-color: #FF9700;
    color: white;
    border: none;
    padding: 1rem 8rem;

    transform: skewX(-25deg);
    
    outline: 2px solid #FFC166;
    outline-offset: -5px;
    display: flex;
    cursor: pointer;
}

.composite__btn:active {
    transform: skewX(-25deg) scale(1.05);
}

.composite__btn-text {
    transform: skewX(25deg);
}

/* Search Bar */