.sidebar{
    background-color: #1B1A24;
    flex: 4;
    width: 0vw;
    display: flex;
    flex-direction: column;
    position: relative;
    /* padding: .3rem 2rem; */
    /* height: ; */
}

.sidebar__auth-sec{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 0%;
}

.sidebar__tags{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 20%;

}

.sidebar__footer{
    padding: 3rem;
    color: #CECED8;
    position: sticky;
    top: 60%;
    display: flex;
}

.sidebar__top{
    display: flex;
    gap: 2rem;
    align-items: center;

}