.sidebar{
    background-color: #1B1A24;
    flex: 4;
    width: 0vw;
    display: flex;
    flex-direction: column;
    /* padding: .3rem 2rem; */
    /* height: ; */
}

.sidebar__auth-sec{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar__tags{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.sidebar__footer{
    padding: 3rem;
    color: white;
}

.sidebar__top{
    display: flex;
    gap: 2rem;
    align-items: center;

}