


.buy__empty-divider{
    height: 3rem;
    width: 100%;
    background-color: #15151C;
    margin-bottom: 2rem;
}

.buy__buy-preview-container{
    background-color: #15151C;

    padding: 2rem 2rem;
}

.buy__buy-preview-container-inner{
    max-width: 100rem;
    margin: 2rem auto;
    display: flex;
    gap: 3rem;
    color: white;
    justify-content: space-between;
}

.buy__carousel-container{
    display: flex;
    flex-direction: column;
    
    flex: 2;
}

.buy__property-container{
    display: flex;
    gap: 2rem;
}

.buy__carousel-img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 30%;
}


.buy__file-purchase-container{
    flex: 1;
}