


.buy__empty-divider{
    height: 3rem;
    width: 100%;
    background-color: #15151C;
    margin-bottom: 2rem;
}

.buy__buy-preview-container{
    background-color: #15151C;

    padding: 1rem 2rem;
}

.buy__buy-preview-container-inner{
    max-width: 100rem;
    margin: 1rem auto;
    display: flex;
    gap: 8rem;
    color: white;
    justify-content: space-between;
}

.buy__carousel-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 45vw;
}

.buy__property-container{
    display: flex;
    gap: 2rem;
}

.buy__rating-container{
    display: flex;
    gap: .1rem;
}

.buy__rating-qty{
    color: #6D6D91;
}

.buy__comments-cont{
    display: flex;
    gap: .4rem;
    color: #6D6D91;

}

.buy__product-name{
    color: white;
}

.buy__carousel-img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 30%;
}

.buy__carousel-preview{
    display: flex;
    gap: 1rem;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 1rem;
}

.buy__carousel-preview::-webkit-scrollbar{
    /* display: none; */
    width: 1rem;
    height: .5rem;

}

.buy__carousel-preview::-webkit-scrollbar-thumb{
    background-color: #3E3E4F!important;
    width: 4px;
}

.buy__carousel-preview::-webkit-scrollbar-track{
    background-color: #232230!important;
}

.buy_carousel-preview-img{
    flex: 3;
    width: 50rem;
    height: 7rem;
    object-fit: cover;
    object-position: 50% 50%;

}

.buy__file-purchase-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: red;
    margin-top: 2rem;
    justify-content: center;
}

.buy__file-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
}

.buy__file-attributed-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    background-color: green;
}

.buy__file-attributed-body{
    display: flex;
    color: #616181;
    font-size: .9rem;
    gap: .8rem;
    align-items: center;

}

.buy__file-attributed-img{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 100%;
}

.buy__comment-header{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.buy__comment-divider{
    transform: skewX(-25deg);
    width: 1rem;
    height: 100%;
    background-color: #232230;
}

.buy__comment-tab-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buy__comment-description{
    width: 30vw;
    color: #6D6D91;
    display: flex;
    flex-direction: column;

}

.buy__read-more{
    color: #AF23AF;
}


.buy__tags-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.buy__tag-header{
    display: flex;
    gap: .4rem;
}

.buy__tag-select{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    gap: .5rem;
}

.buy__tag-btn{
    background-color: #232230;
    padding: .4rem .5rem;
    border: transparent;
    color: #636384;
}

.buy__cart-buy-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buy__cart-buy-header{
    display: flex;
    align-items: center;
    gap: .4rem;
}

.buy__cart-purchase-main-container{
    background-color: #232230;
    width: 80%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;

}

.buy__purchase-btn-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buy__purchase-btn{
    padding: 1rem 10rem;
    background-color: #5CB85C;
    color: #ffffff;
    transform: skewX(-20deg);
    outline: 2px solid #9DD49D;
    outline-offset: -9px;
    display: flex;
    border: transparent;
    position: relative;
}

.buy__btn-hover-price{
    background-color: #4C934C;
    color: white;
    position: absolute;
    right: 10%;
    top: 25%;
    padding: .3rem .8rem;
}

.buy__heart-btn-container{
    background-color: #44434F;
    border: transparent;
    color: #D9DDE0;
    font-size: 1.3rem;
    padding: .2rem 1rem;
    transform: skewX(-20deg);
}

.buy__payment-methods-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    width: 70%;
}

.buy__payment-options{
    display: flex;
    gap: 1rem;
}

.buy__payment-options-logos{
    width: 2rem;
    background-color:#5A5964;
    height: 2rem;
    padding: .3rem;
}


.buy_socials-container{
    display: flex;
    gap: 1rem;
    margin-left: 6rem;

}

.buy__social-btn{
    display: flex;
    /* width: 4rem; */
    padding: .5rem .7rem;
    gap: 1.1rem;
    color: white;
    border: transparent;
    align-items: center;
}

.buy__socials-logo{
    font-size: 1.3rem;
}

.buy__copy-url-form{
    display: flex;

}

.buy__copy-url-form-group{
    display: flex;
    position: relative;
    align-items: center;
    width: 55%;
    margin-left: 6rem;
}

.buy__copy-url-form-control{
    padding: .7rem 4rem;
    transform: skewX(-25deg);
    background-color: #15151C;
    border: .2rem solid #2B2B38;
    color: white;
    width: 100%;
}

.buy__copy-url-form-control::placeholder{
    color: #38383E;
    font-size: .8rem;
}

.buy__copy-url-btn{
    background-color: #38383E;
    transform: skewX(-25deg);
    font-size: .7rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1rem 2rem;
    height: 2.1rem;
    border: none;
    position: absolute;
    top: 11%;
    right: 1.3%;
    cursor: pointer;
}

.buy__copy-url-btn-text{
    transform: skewX(25deg);

}

.buy__copy-url-btn:active{
    transform: scale(1.05) skewX(-25deg);

}