


.buy__empty-divider{
    height: 3rem;
    width: 100%;
    background-color: #15151C;
    margin-bottom: 2rem;
}

.buy__buy-preview-container{
    background-color: #15151C;

    padding: 2rem 2rem;
}

.buy__buy-preview-container-inner{
    max-width: 100rem;
    margin: 2rem auto;
    display: flex;
    gap: 3rem;
    color: white;
    justify-content: space-between;
}

.buy__carousel-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 40vw;
}

.buy__property-container{
    display: flex;
    gap: 2rem;
}

.buy__rating-container{
    display: flex;
    gap: .1rem;
}

.buy__rating-qty{
    color: #6D6D91;
}

.buy__comments-cont{
    display: flex;
    gap: .4rem;
    color: #6D6D91;

}

.buy__product-name{
    color: white;
}

.buy__carousel-img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: 50% 30%;
}

.buy__carousel-preview{
    display: flex;
    gap: 1rem;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 1rem;
}

.buy__carousel-preview::-webkit-scrollbar{
    /* display: none; */
    width: 1rem;
    height: .5rem;

}

.buy__carousel-preview::-webkit-scrollbar-thumb{
    background-color: #3E3E4F!important;
    width: 4px;
}

.buy__carousel-preview::-webkit-scrollbar-track{
    background-color: #232230!important;
}

.buy_carousel-preview-img{
    flex: 3;
    width: 50rem;
    height: 7rem;
    object-fit: cover;
    object-position: 50% 50%;

}

.buy__file-purchase-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buy__file-info-container{
    display: flex;
    flex-direction: column;
}

.buy__file-attributed-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buy__file-attributed-body{
    display: flex;
    color: #616181;
    font-size: .9rem;
    gap: .8rem;
    align-items: center;

}

.buy__file-attributed-img{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 100%;
}

.buy__comment-header{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.buy__comment-divider{
    transform: skewX(-25deg);
    width: 1rem;
    height: 100%;
    background-color: #232230;
}

.buy__comment-tab-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buy__comment-description{
    width: 30vw;
    color: #6D6D91;
    display: flex;
    flex-direction: column;

}

.buy__read-more{
    color: #AF23AF;
}


.buy__tags-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.buy__tag-header{
    display: flex;
    gap: .4rem;
}

.buy__tag-select{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    gap: .5rem;
}

.buy__tag-btn{
    background-color: #232230;
    padding: .4rem .5rem;
    border: transparent;
    color: #636384;
}

.buy__cart-buy-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buy__cart-buy-header{
    display: flex;
    align-items: center;
    gap: .4rem;
}

.buy__cart-purchase-main-container{
    background-color: #232230;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buy__purchase-btn-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buy__purchase-btn{
    padding: 1rem 7rem;
    background-color: #5CB85C;
    color: #ffffff;
    transform: skewX(-20deg);
    outline: 2px solid #9DD49D;
    outline-offset: -9px;
    display: flex;
}

.buy__heart-btn-container{
    background-color: #44434F;
    border: transparent;
    color: #D9DDE0;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    transform: skewX(-20deg);
}
