.lgn__login-modal{
    width: 30.5vw;
    position: absolute;
    z-index: 1;
    background-color: #38383E;
    top: 200%;
    left: -730%;
}

.lgn__login-form{
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    gap: 1rem;

}

.lgn__form-group{
    background-color: #15151C;
    border: .2rem solid #2B2B38;
    transform: skewX(-15deg);
}

.lgn__form-control{
    padding: 1.5rem 2rem;
    width: 100%;
    background-color: transparent;
    border: none;
    transform: skewX(15deg);
    display: flex;
    justify-content: center;
    align-items: center;

}

.lgn__form-recovery-container{
    
}