.lgn__login-modal{
    width: 29.2vw;
    position: absolute;
    z-index: 3;
    background-color: #38383E;
    top: 200%;
    left: -210%;
    transform: skewX(15deg);
}

.lgn__login-form{
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    gap: 1rem;

}

.lgn__form-group{
    background-color: #15151C;
    border: .2rem solid #2B2B38;
    transform: skewX(-15deg);
}

.lgn__form-control{
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    transform: skewX(15deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3E3E4F;

}

.lgn__form-control:focus{
    outline: none;
}
.lgn__form-recovery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-transform: none;
}

.lgn__form-btn-group{
    display: flex;
}

.lgn__login-btn{
    padding: 1.2rem 3rem;
    width: 100%;
    transform: skewX(-15deg);
    background-color: #AF23AF;
    outline: 2px solid #CF7BCF;
    font-weight: 900;
    outline-offset: -7px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lgn__login-btn:active{
    transform: scale(1.04) skewX(-15deg);
}

.lgn__login-btn-text{
    transform: skewX(15deg);

}

.lgn__login-alternatives-container{
    background-color: #2A2A30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    /* padding: 2rem 5rem; */
    padding-bottom: 1rem!important;
    gap: 1rem;
}

.lgn__btn-google, .lgn__btn-facebook{
    background-color: #FFFFFF;
    border: none;
    padding: 1rem 4rem;
    transform: skewX(-15deg);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;
}

.lgn__btn-google:active, .lgn__btn-facebook:active{
    transform: scale(1.04) skewX(-15deg);
    display: flex;
}

.lgn__btn-facebook{
    background-color: #1071C1;
    color: white;
}

.lgn__btn-google-text, .lgn__btn-facebook-text{
    transform: skewX(15deg);
}

.lgn__form-recovery-container{
    padding-top: 1rem;
}

.lgn__arrow{
    width: 30px;
    height: 10%;
    background-color: #38383E;
    background-color: red;
    position: absolute;
}