.lgn__login-modal{
    width: 30.5vw;
    position: absolute;
    z-index: 1;
    background-color: #38383E;
    top: 200%;
    left: -730%;
}

.lgn__login-form{
    display: flex;
    flex-direction: column;

}

.lgn__form-group{
    background-color: ;
}