.cart{
    display: flex;
}

.cart__inner-container{
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
}


.cart__items-container{
    display: flex;
    flex-direction: column;
    background-color: #15151C;
    width: 100%;
    background-color: red;

}

.cart__category-container{
    display: flex;
    gap: 1rem;
}


.cart__cat-item{
    border-right: .2rem solid #2A2A38;
    color: white;
}

.cart__cart-item{
    display: flex;
    gap: 2rem;
    color: white;
    align-items: center;
    position: relative;
}

.cart__item-img{
    width: 4rem;
    height: 4rem;
}