.user__profile-preview-container {
    background-image: url("../../assets/image/wooden-stilgt.webp");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 2rem;
    position: relative;
}

.user__profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user__profile-img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 100%;
}

.user__profile-name {
    font-size: 1.6rem;
}

.user__profile-suscribers {
    color: #8C92A3;
    font-size: .9rem;
}

.user__profile-caution {
    color: #8C92A3;
    width: 20%;
    text-align: center;
}

.user__location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.user__change-cover-btn {
    background-color: rgba(255, 255, 255, 0.253);
    padding: .7rem 1.2rem;
    border: none;
    position: absolute;
    right: 5%;
    top: 80%;
    transform: skewX(-20deg);
    color: #A5B6C3;
    gap: .4rem;
}

.user__profile-switch-admin-btn {
    background-color: #FF9700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bolder;
    position: absolute;
    width: 100%;
    top: 0%;
    padding: .5rem;
    cursor: pointer;
}

.user__profile-switch-admin-btn:active {
    transform: scale(1.05);
}

.user__change-cover-btn-inner {
    transform: skewX(20deg);
    display: flex;
    justify-content: center;
    gap: .6rem;
    align-items: center;
}

.user__product-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 10vh;
    gap: 2rem;
}

.user__upload-products-btn {
    transform: skewX(-20deg);
    padding: 1rem 2rem;
    background-color: #AF23AF;
    border: none;
    outline: .2rem solid #CF7BCF;
    outline-offset: -.4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;

}

.user__upload-products-btn-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    transform: skewX(20deg);


}


.user__admin-visitor-container {
    position: absolute;
    right: 5%;
    top: 30%;
    display: flex;
    background-color: #15151C;
    padding: .2rem;
    transform: skewX(-20deg);
    border: .2rem solid #2B2B38;
}

.user__AV-btn {
    padding: .3rem .8rem;
    background-color: #15151C;
    color: white;
    display: flex;
    cursor: pointer;
    transition: transform .3s ease-in-out, background-color .3s ease-in-out;
}


.user__AV-btn:active {
    transform: scale(1.05);
}

.user__AV-btn-inner {
    transform: skewX(20deg);
}

.user_AV-btn-active {
    background-color: #38383E !important;
    color: white;
    /* padding: .5rem 1rem; */
}

.user_AV-btn-active-dup {
    background-color: #FF9700;
    color: white;

}


.user__admin-page-section-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user__tags-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191921;
    padding: 1rem;
    gap: 2rem;
}

.user__feature-tags-container {
    display: flex;
    gap: 4rem;
}

.user__feature-tags-item {
    color: #3E3E4F;
    padding: .4rem 1rem;
    cursor: pointer;
    transition: color .4s ease-in-out, border-bottom .4s ease-in-out;
}

.user__feature-tags-item-active {
    color: #D2D7DB;
    border-bottom: .2rem solid #7c187a
}

.user__main-profile-container {
    background-color: #15151C;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.user__main-profile-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user__main-profile-form-group {
    display: flex;
    color: white;
    gap: 4rem;
}

.user__main-profile-label {
    width: 30vw;
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #232230;
    transform: skewX(-20deg);
    color: #919198;
}

.user__main-profile-label-inner {
    transform: skewX(20deg);
}


.user__main-profile-form-control-container {
    display: flex;
    flex-direction: column;
}

.user__main-profile-skew-container {
    transform: skewX(-20deg);
    border: .2rem solid #2B2B38;
    display: flex;
    justify-content: space-between;
}

.user__main-profile-form-control {
    width: 50vw;
    padding: 1rem 1rem;
    background-color: transparent;
    border: none;
}

.user__main-profile-form-control-edit-btn {
    padding: .5rem .9rem;
    background-color: #38383E;
    margin: .15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__main-profile-info {
    color: #3E3E4F;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    margin-top: .3rem;
}

/* Inpage Library */

.user__library {
    background-color: #191921;
    color: white;
    height: 100%;
}

.user__library-inner {
    display: flex;
    gap: 1rem;
}

.user__library-sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: .9;
    background-color: #232230;

}

.user__library-sidebar-header{

    display: flex;
    justify-content: space-around;
    padding: 1rem .5rem;
    background-color: #191921;
}

.user__library-sidebar-header-item{
    padding: .3rem 2rem;
    position: relative;
    text-transform: uppercase;
}

.user__library-sidebar-header-item-text{
    animation: 1s fadeIn ease-in-out;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.user__library-sidebar-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 1rem 3rem;

}

.user__library-item {
    transform: skewX(-20deg);
    border: .1rem solid transparent;
    background-color: #353449;
    color: #6D6D91;
    padding: .8rem 1.8rem;
    width: 80%;
    transition: border .4s ease-in-out, transform .4s ease-in-out, color .4s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    position: relative;

}

.user__library-item:hover {
    border: .1rem solid #7E7D86;

}



.user__library-item-active {
    border: .1rem solid #7E7D86;
    transform: scaleX(1.1) skewX(-20deg);
    color: white;

}

.user__library-item-inner {
    display: flex;
    transform: skewX(20deg);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.user__library-item-info-count{
    font-size: .6rem;
    color: #6D6D91;
    position: absolute;
    bottom: 8%;
    right: 8%;
    transform: skewX(20deg);
}

.user__lib-folder-large {
    font-size: 1rem;
    transition: font-size .3s ease-in-out;
    animation: smoothSwitch .4s ease-in-out;
}

@keyframes smoothSwitch {
    0% {
        font-size: 1rem;
    }

    100% {
        font-size: 1.4rem;
    }
}


.user__library-item-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user__library-item-name {
    font-size: .8rem;
    display: flex;
    gap: .8rem;
}

.user__library-sidebar-footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user__library-trash-btn {
    transform: skewX(-20deg);
    border: .2rem solid #353449;
    background-color: #232230;
    color: #7B7A83;
    padding: .5rem .5rem;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.user__library-trash-btn-logo {
    transform: skewX(20deg);
    font-size: 1.2rem;
    color: #AF23AF;

}

.user__library-trash-btn-text {
    transform: skewX(20deg);

}

.user__main-lib-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 3;
    background-color: #15151C;

}

.user__main-lib-header {
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    align-items: center;
    /* padding: 1.4rem 2rem; */
    background-color: #191921;
    height: 3.8rem;
}

.user__main-lib-header-text{
    font-size: .8rem;
    color: #3E3E4F;
}

.user__main-lib-body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 3rem 3rem;
    gap: 2rem;
    justify-content: space-around;
}

.user__main-lib-body-collections{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 3rem 3rem;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.user__main-lib-card{
    display: flex;
    flex-direction: column;
    background-color: #232230;
}

.user__main-lib-card-img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: 50% 50%;
}


.user__main-lib-card-body{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    padding: .7rem .4rem;
    justify-content: center;
    align-items: center;
}

.user__card-collection-title{
    font-size: .9rem;
    color: #D2D7DB;
}

.user__card-collection-description{
    font-size: .7rem;
    color: #6D6D91;
}

.user__main-lib-card-footer{
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #D2D7DB;
    padding: .4rem .4rem;
    cursor: pointer;
    transition: color .4s ease-in-out, transform .4s ease-in-out;
}

.user__main-lib-card-footer:hover{
    color: white;

}

.user__main-lib-card-footer:active{
    transform: scale(1.05);
}



.user__main-lib-footer{
    background-color: #15151C;
}


.user__main-lib-body-left{
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.user__main-lib-item{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}


.user__main-lib-checkbox{
    width: 1.4rem;
    height: 1.2rem;
    border: .2rem solid #38383E;
    transform: skewX(-20deg);
    padding: .1rem;
    transform: .3s transform ease-in-out;
    cursor: pointer;

}

.user__main-lib-checkbox:active{
    transform: scale(1.1) skewX(-20deg);

}

.user__main-lib-checkbox-active{
    width: .8rem;
    height: .6rem;
    background-color: #FF9700;
    transition: .3s background-color ease-in-out;
}

.user__main-lib-item-body{
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.user__main-lib-item-header{
    color: #5C5C7D;
}


.user__main-lib-item-main{
    font-size: .8rem;
    color: #393948;
}



/* .user__library-card {
    transform: skewX(-20deg);
    color: white;
    display: flex;
}

.user__library-card-img {
    width: 13rem;
    height: 7rem;
    object-fit: cover;
}

.user__library-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user__library-card-name {
    background-color: #353449;
    color: #515170;
    font-weight: bold;
    width: 20rem;
    padding: 1.5rem 1.4rem;
    position: relative;
    display: flex;
}

.user__upload-pg-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 6%;
    top: 12%;
    transform: skewX(20deg);
}

.user__library-card-pg-container {
    background-color: transparent;
    height: .4rem;
    width: 100%;
}

.user__upload-pg-stats {
    font-size: .7rem;
    color: #232230;
}

.user__library-pg-bar {
    background-color: #FF9700;
    width: 50%;
    height: 100%;
} */

/* Messages In page */

.user__messages {
    background-color: #191921;
    color: white;
}

.user__messages-inner {
    /* grid-template-columns: 25% 75%; */
    display: flex;
    gap: 1rem;
}

.user__message-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: .9;
    background-color: #232230;
}

.user__message-sidebar-header {
    display: flex;
    justify-content: space-around;
    padding: 1rem .5rem;
    background-color: #191921;
}

.user__message-sidebar-header-item {
    padding: .3rem 2rem;
    border-bottom: .2rem solid #7C187A;
    position: relative;
}

.user__message-notify {
    width: .3rem;
    height: .3rem;
    background-color: #FF9700;
    border-radius: 100%;
    position: absolute;
    right: 10%;
    top: 10%;
}

.user__message-sidebar-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 3rem;
}



.user__message-friend {
    transform: skewX(-20deg);
    border: .1rem solid transparent;
    background-color: #353449;
    color: white;
    padding: .4rem .8rem;
    transition: border .4s ease-in-out, transform .4s ease-in-out;
    cursor: pointer;
}

.user__message-friend:hover {
    border: .1rem solid #7E7D86;

}


.user__message-friend-active {
    border: .1rem solid #7E7D86;
    transform: scaleX(1.1) skewX(-20deg);

}

.user__message-friend-inner {
    display: flex;
    transform: skewX(20deg);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user__message-friend-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
}

.user__message-friend-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user__msg-friend-name {
    font-size: 1rem;
    display: flex;
    gap: .8rem;
    color: #ffff;
}


.user__msg-time {
    color: #6D6D91;
    font-size: .8rem;

}

.user__msg-preview {
    color: #6D6D91;
    font-size: .8rem;
}

.user__message-sidebar-footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user__message-trash-btn {
    transform: skewX(-20deg);
    border: .2rem solid #353449;
    background-color: #232230;
    color: #7B7A83;
    padding: .7rem .7rem;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.user__message-trash-btn-logo {
    transform: skewX(20deg);
    color: #FF0000;

}

.user__message-trash-btn-text {
    transform: skewX(20deg);

}


.user__main-msg-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 3;
    background-color: #15151C;

}

.user__main-msg-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 1.4rem 2rem; */
    background-color: #191921;
    height: 3.8rem;
}

.user__main-msg-header-text{
    border-left: .2rem solid #2B2B38;
    padding: .5rem 4rem;
    position: relative;
    left: -1.5%;

}

.user__main-msg-body {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    gap: 3rem;
}

.user__main-sender-msg-cont {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.user__main-sender-msg-img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.user__main-sender-msg-inner {
    display: flex;
    flex-direction: column;
    background-color: #232230;
    padding: 2rem 3rem;
    width: 70%;

}

.user__main-sender-talk {
    flex: 3;
    color: 'white';
}

.user__main-sender-time {
    flex: 1;
    color: 'white';

}


/* receiver */

.user__main-receiver-msg-cont {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 2rem;
    width: 70%;

}

.user__main-receiver-msg-img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.user__main-receiver-msg-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #232230;
    padding: 2rem 3rem;
    width: 100%;
}

.user__main-receiver-talk {
    flex: 3;
    color: 'white';
}

.user__main-receiver-time {
    flex: 1;
    color: 'white';

}

/* Send parameters */

.user__main-msg-footer{
    background-color: #15151C;

}

.user__main-msg-send-container{
    display: flex;
    justify-content: center;

}

.user__msg-form-group{

}

.user__msg-form-skew-container{
    transform: skewX(-20deg);
    border: .2rem solid #2B2B38;
    /* padding: .05rem; */
    display: flex;
    align-items: center;
    width: 40vw;
    gap: .3rem;
}

.user__msg-form-doc-btn{
    background-color: #38383E;
    padding: .2rem .8rem;
    color: #5D5D62;
    font-size: 1rem;
    border: none;
}

.user__msg-form-control{
    width: 100%;
    height: 1.5rem;
    border: none;
    transform: skewX(20deg);
    background-color: transparent;
    color: white;

}

.user__msg-form-control:focus{
    outline: none;

}

.user__msg-form-send-btn{
    background-color: #38383E;
    padding: .2rem .8rem;
    color: #5D5D62;
    border: none;
    color: white;
    display: flex;
    gap: .5rem;
    font-size: .9rem;
    height: 100%;
}


/* User Settings section */

.user__settings{
    background-color: #191921;
    color: white;
}


.user__settings-inner{
    display: flex;
    gap: 1rem;

}

.user__settings-sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: .9;
    background-color: #232230;

}

.user__settings-sidebar-header{

    display: flex;
    justify-content: space-around;
    padding: 1rem .5rem;
    background-color: #191921;
}

.user__settings-sidebar-header-item{
    padding: .3rem 2rem;
    position: relative;
    text-transform: uppercase;
}

.user__settings-sidebar-header-item-text{
    animation: 1s fadeIn ease-in-out;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.user__settings-sidebar-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 1rem 3rem;

}

.user__settings-item {
    transform: skewX(-20deg);
    border: .1rem solid transparent;
    background-color: #353449;
    color: #6D6D91;
    padding: .8rem 1.8rem;
    width: 80%;
    transition: border .4s ease-in-out, transform .4s ease-in-out, color .4s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
}

.user__settings-item:hover {
    border: .1rem solid #7E7D86;

}



.user__settings-item-active {
    border: .1rem solid #7E7D86;
    transform: scaleX(1.1) skewX(-20deg);
    color: white;

}

.user__settings-item-inner {
    display: flex;
    transform: skewX(20deg);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user__settings-item-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user__settings-item-name {
    font-size: .8rem;
    display: flex;
    gap: .8rem;
}

.user__settings-sidebar-footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user__settings-trash-btn {
    transform: skewX(-20deg);
    border: .2rem solid #353449;
    background-color: #232230;
    color: #7B7A83;
    padding: .5rem .5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.user__settings-trash-btn-logo {
    transform: skewX(20deg);
    font-size: 1.2rem;

}

.user__settings-trash-btn-text {
    transform: skewX(20deg);

}

.user__main-sett-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 3;
    background-color: #15151C;

}

.user__main-sett-header {
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    align-items: center;
    /* padding: 1.4rem 2rem; */
    background-color: #191921;
    height: 3.8rem;
}

.user__main-sett-header-text{
    font-size: .8rem;
    color: #3E3E4F;
}

.user__main-sett-body {
    display: flex;
    padding: 3rem 3rem;
    gap: 2rem;
    justify-content: space-around;
}

.user__main-sett-footer{
    background-color: #15151C;
}


.user__main-sett-body-left{
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.user__main-sett-item{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}


.user__main-sett-checkbox{
    width: 1.4rem;
    height: 1.2rem;
    border: .2rem solid #38383E;
    transform: skewX(-20deg);
    padding: .1rem;
    transform: .3s transform ease-in-out;
    cursor: pointer;

}

.user__main-sett-checkbox:active{
    transform: scale(1.1) skewX(-20deg);

}

.user__main-sett-checkbox-active{
    width: .8rem;
    height: .6rem;
    background-color: #FF9700;
    transition: .3s background-color ease-in-out;
}

.user__main-sett-item-body{
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.user__main-sett-item-header{
    color: #5C5C7D;
}


.user__main-sett-item-main{
    font-size: .8rem;
    color: #393948;
}

/* Upload Section */

.upload_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.upload__mock-up{
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 6rem;
   
    background-color: #15151C;
    padding: 3rem 0;
}

.upload__title-section{
    display: flex;
    flex: 2;
    gap: 3rem;
}

.upload__title-container{
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: flex-start;
}

.upload__title{
    padding: 1rem 4rem;
    background-color: #232230;
}

.upload__main-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.upload__form-group{
    display: flex;
    position: relative;
}

.upload__form-control{
    border: .3rem solid #2B2B39;
    background-color: transparent;
    padding: 1rem 20rem;
    width: 100%;
}

.upload__form-edit-btn{
    padding: .45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1%;
    top: 17%;
    background-color: #2B2B38;
    color: white;
    border: none;
    font-size: 1.5rem;
}

.upload__image-dropbox-container{
    height: 40vh;
    width: 100%;
    border: .2rem solid #2B2B39;
    padding: .8rem;
    position: relative;
}

.upload__image-dropbox{
    border: .2rem dashed red;
    opacity: 0;
    height: 70%;
    position: absolute;
    width: 70%;
    top: 15%;
    left: 15%;
    cursor: pointer;
}
.upload__image-dropbox::-webkit-file-upload-button{
    visibility: hidden;

}

.upload__image-dropbox-twin{
    border: .2rem dashed #2B2B38;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    transition: .5s border ease-in-out;

}

.upload__image-dropbox-twin:hover{
    border: .2rem dashed #9d0cc9;
    cursor: pointer;

}

.upload__image-head{
    color: #F6F6F7;
    font-size: 1.3rem;
}

.upload__image-desc{
    font-size: .9rem;
    color: #5D5D7B;
}

.upload__image-preview{
    display: flex;
    gap: 2rem;
    padding: 2rem 0rem;
    padding-top: 0rem;
    width: 45vw;
    overflow-x: scroll;
}

.upload__image-preview::-webkit-scrollbar{
    width: 3px;
    height: 9px;

}

.upload__image-preview::-webkit-scrollbar-track{
    width: 5px;
    height: 5px;
    background-color: #232230;
}

.upload__image-preview::-webkit-scrollbar-thumb{
    width: 5px;
    height: 5px;
    background-color: #3E3E4F;
}

.upload__image-preview-inner{
    display: inline-flex;
    gap: 2rem;
    transition:transform  .6s ease-in-out ;
}

.upload__image-item{
    height: 8rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border: .3rem solid #2C2C3A;
    color: #737377;
    font-size: 1.1rem;
}

.upload__image-iconister{
    font-size: 1.6rem;
}

.upload__description-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    width: 76%;
}
.upload__text-area-container{
    position: relative;
}

.upload__text-area{
    background-color: transparent;
    border: .2rem solid #2C2C3A;
    width: 100%;
}

.upload__text-area-btn{
    background-color: #2B2B38;
    color: white;
    padding: .5rem;
    border: none;
    position: absolute;
    bottom: 6%;
    right: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.upload__tags-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.upload__tags-inner-container{
    display: grid;
    gap: .2rem;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
}

.upload__tag-btn{
    padding: .5rem 1rem;
    background-color: #232230;
    color: #69698B;
    border: none;
}

.upload__tags-title-container{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.upload__tags-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: #D5DADE;
}

.upload__tag-select{
    color: #5E5E7C;
    font-size: .9rem;
}

.upload__main-file-upload-container{
    width: 100%;
    height: 6rem;
}

.upload__main-files-upload-twin{
    border: .2rem solid #2B2B38;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.upload__main-files-upload-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #EFEFEF;
    cursor: pointer;
}

.upload__main-files-upload{
    opacity: 0;
    border: .2rem dotted blue;
    position: absolute;
    top: 7%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.upload__price-section{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #232230;
    padding: 2rem;

}

.upload__price-inner-section{
    display: flex;
    gap: 2rem;
}

.upload__form-group{
    display: flex;
    flex-direction: column;
}