.opnstore__app-container{
    color: white;
}

/* Open store start selling section */

.opnstore__start-selling-container{
    background-color: #15151C;
    padding: 7rem 0;
}

.opnstore__start-selling-inner-container{
    display: flex;
    justify-content: center;
    height: 30vh;
    gap: 1rem;
    align-items: center;
}

.opnstore__odd-card{
    transform: skewX(-15deg);
    height: 18vh;
    background-color: #232230;
    padding: 1.5rem 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

}

.opnstore__odd-card-logo-overplace-container{
    display: flex;
}

.opnstore__odd-card-logo-overplace{
    /* transform: skewX(13deg); */
    background-color: #302F42;
    position: absolute;
    top: -30%;
    left: 20%;
    padding: 1rem 2rem;
    
}

.opnstore__odd-card-logo-backtrack{
    transform: skewX(20deg);
}

.opnstore__odd-card-title{
    transform: skewX(20deg);
    font-size: .9rem;
    text-align: center;

}

.opnstore__odd-card-desc{
    transform: skewX(20deg);
    font-size: .7rem;
    color: #919198;
    text-align: center;
}

.opnstore__steps-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181620;
    gap: 1rem;
}

.opnstore__steps-first-layer{
    display: flex;
    /* gap: 1rem; */
    position: relative;
    width: 100%;
}

.opnstore__steps-second-layer{
    display: flex;
    gap: 1rem;
    width: 60%;
}

.opnstore__steps-item{
    grid: 1/span 2;
    background-color: #302F42;
    padding: 2rem 3rem;
    display: flex;
    height: 10rem;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opnstore_step-divider{
    width: 1rem;
    height: 100%;
    left: 50%;
    transform: skewX(-17deg);
    position: absolute;
    background-color: #181620;
}

.opnstore__step-item-header{
    font-size: 1.1rem;
}

.opnstore__step-item-desc{
    font-size: .8rem;
    color: #9897A1;
    width: 20rem;
    text-align: center;
}
