.opnstore__app-container{
    color: white;
}

/* Open store start selling section */

.opnstore__start-selling-container{
    background-color: #15151C;
}

.opnstore__start-selling-inner-container{
    display: flex;
    justify-content: center;
    height: 30vh;
    gap: 1rem;
    align-items: center;
}

.opnstore__odd-card{
    transform: skewX(-15deg);
    height: 18vh;
    background-color: #232230;
    padding: 1.5rem 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

}

.opnstore__odd-card-logo-overplace-container{
    display: flex;
}

.opnstore__odd-card-logo-overplace{
    transform: skewX(10deg);
    background-color: #302F42;
    position: absolute;
    top: -30%;
    left: 20%;
    padding: 1rem 2rem;
    
}

.opnstore__odd-card-logo-backtrack{
    transform: skewX(20deg);
}

.opnstore__odd-card-title{
    transform: skewX(20deg);
    font-size: .9rem;
    text-align: center;

}

.opnstore__odd-card-desc{
    transform: skewX(20deg);
    font-size: .7rem;
    color: #919198;
    text-align: center;
}

.opnstore__steps-container{
    display: grid;
    grid-template-columns: repeat(2, );
}