.opnstore__app-container{
    color: white;
}

/* Open store start selling section */

.opnstore__start-selling-container{
    background-color: #15151C;
    padding: 4rem 0;
}

.opnstore__start-selling-inner-container{
    display: flex;
    justify-content: center;
    height: 30vh;
    gap: 1rem;
    align-items: center;
}

.opnstore__odd-card{
    transform: skewX(-15deg);
    height: 18vh;
    background-color: #232230;
    padding: 1.5rem 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    transition: width .7s ease-in-out, height .7s ease-in-out;

}

.opnstore__odd-card-logo-overplace-container{
    display: flex;
    background-color: red;
}

.opnstore__odd-card-logo-overplace{
    /* transform: skewX(13deg); */
    background-color: #302F42;
    position: absolute;
    top: -20%;
    left: 20%;
    padding: 1rem 2rem;
    transition: top .7s ease-in-out, padding .7s ease-in-out;

    
}

.opnstore__odd-card-logo-backtrack{
    transform: skewX(25deg);
}

.opnstore__odd-card-title{
    transform: skewX(20deg);
    font-size: 1.1rem;
    text-align: center;

}

.opnstore__odd-card-desc{
    transform: skewX(20deg);
    font-size: 1rem;
    color: #919198;
    text-align: center;
}

.opnstore__steps-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181620;
    gap: 1rem;
}

.opnstore__steps-first-layer{
    display: flex;
    /* gap: 1rem; */
    position: relative;
    width: 100%;
}

.opnstore__steps-second-layer{
    display: flex;
    gap: 1rem;
    width: 60%;
}

.opnstore__steps-item{
    grid: 1/span 2;
    background-color: #302F42;
    padding: 2rem 3rem;
    display: flex;
    height: 9rem;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opnstore__step-slant{
    transform: skewX(-17deg);
}

.opnstore_step-divider{
    width: 1rem;
    height: 100%;
    left: 50%;
    transform: skewX(-17deg);
    position: absolute;
    background-color: #181620;
}

.opnstore__step-item-header{
    font-size: 1.1rem;
}

.opnstore__step-item-desc{
    font-size: 1rem;
    color: #9897A1;
    width: 20rem;
    text-align: center;
}
/* FAQ */

.opnstore__faq-sec{
    height: 50vh;
    background: linear-gradient(to bottom, #272134, #49355D);
}

.opnstore__faq-sec-inner{
    max-width: 100rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: ;
}