.opnstore__app-container{
    color: white;
}

/* Open store start selling section */

.opnstore__start-selling-container{
    background-color: #15151C;
}

.opnstore__start-selling-inner-container{
    display: flex;
    justify-content: center;
    height: 30vh;

    align-items: center;
}

.opnstore__odd-card{
    transform: skewX(-25deg);
    /* height: 20vh; */
    background-color: #232230;
    padding: 2rem 3rem;
    position: relative;
}

.opnstore__odd-card-logo-overplace{
    background-color: #302F42;
    position: absolute;
    top: -50%;
    padding: ;
    
}

.opnstore__odd-card-logo-backtrack{
    transform: skewX(25deg);
}