.opnstore__app-container{
    color: white;
}

/* Open store start selling section */

.opnstore__start-selling-container{
    /* height: 30vh; */
    background-color: #15151C;
}

.opnstore__start-selling-inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.opnstore__odd-card{
    transform: skewX(-25deg);
    height: 20vh;
    background-color: #232230;
}

.opnstore__odd-card-logo-overplace{
    background-color: #302F42;
}